extends layout

block content
  h1= title
  form(method='get')
    input(type='text' name='browser' value=browser)
    input(type='submit' value='Szukaj')
  each item in data
    article
      h2=item.title
      p=item.created
      p=item.description

