extends layout

block content
  section(class='newsPage')
    h1= title
    form(class='search' method='get')
      input(type='text' name='browser' value=browser)
      input(type='submit' value='Szukaj' class='submit')
    each item in data
      article
        h2=item.title
        p(class='date')=moment(item.created).format("YYYY-MM-DD HH:mm")
        p(class='text')=item.description

