extends layout

block content
  h1= title
  if show
    form(method='post')
      h2 Jaki jest Twój ulubiony kolor?
      ul
        each item in data
          li
            input(type='radio' name='quiz' value=item._id)
            label= item.title
      input(type='submit' value='Głosuj')
    p Wyniki zostaną wyświetlone po oddaniu głosu.
  else
    h2 Wyniki
    ul
      each item in data
        li
          p #{item.title} - #{item.vote}  (#{Math.round(item.vote/sum*100)}%)
    p Suma głosów: #{sum}